body {
  font-family: Arial, sans-serif;
  background-color: #2d4a3e;
  
}
h1 {
  text-align: center;
  color: #c9a86c;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
p {
  color: #f5f0e6;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.6;
}
#birthYear {
  padding: 12px 12px;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  width: 50%;
  transition: 0.3s;
}
#birthYear:focus {
  outline: none;
  border: 3px solid #c9a86c;
  background-color: #fafafa;
}
#result {
  font-style: normal;
  font-size: 22px;
}
#calculateBtn {
  display: block;
  margin-top: 20px;
  padding: 14px 32px;
  border-radius: 20px;
  background-color: #4a1a2e;
  color: #f5f0e6;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
}
#calculateBtn:hover {
  transform: translateY(5px);
  background-color: #532236;
}
